<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.zhc.dev.friend.mapper.contest.ContestMapper">

    <select id="selectContestList" resultType="io.github.zhc.dev.friend.model.vo.contest.ContestVO">
        SELECT
        tc.contest_id,
        tc.title,
        tc.start_time,
        tc.end_time
        FROM
        tb_contest tc
        where
        tc.is_deleted = 0
        AND
        tc.status = 1
        <if test="title != null and title.trim() != ''">
            AND tc.title LIKE CONCAT('%',#{title},'%')
        </if>
        <if test="startTime != null and startTime != '' ">
            AND tc.start_time >= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND tc.end_time &lt;= #{endTime}
        </if>
        <if test="type != null">
            <if test="type == 0">
                And tc.end_time > NOW()
            </if>
            <if test="type == 1">
                And tc.end_time &lt;= NOW()
            </if>
        </if>
        ORDER BY
        tc.create_time DESC
    </select>
</mapper>