<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.zhc.dev.job.mapper.user.UserSubmitMapper">

    <select id="selectUserScoreList" resultType="io.github.zhc.dev.job.model.entity.user.UserScore">
        SELECT
        contest_id,
        user_id,
        sum(score) as score
        FROM
        tb_user_submit
        WHERE
        <foreach collection="contestIdSet" open="contest_id in ( " close=" ) " item="contestId" separator=",">
            #{contestId}
        </foreach>
        GROUP BY
        contest_id,user_id
        ORDER BY
        score DESC
    </select>

    <select id="selectHostQuestionList" resultType="java.lang.Long">
        SELECT
            question_id,
            count(question_id) hot_count
        FROM
            tb_user_submit
        WHERE
            contest_id is null
        GROUP BY
            question_id
        ORDER BY
            hot_count DESC
    </select>
</mapper>