<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.zhc.dev.job.mapper.user.UserContestMapper">

    <update id="updateUserScoreAndRank">
        <foreach collection="userScoreList" item="item" separator=";">
            UPDATE
            tb_user_contest
            SET
            score = #{item.score}, contest_rank = #{item.contestRank}
            WHERE
            contest_id = #{item.contestId} AND user_id = #{item.userId}
        </foreach>
    </update>
</mapper>