<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.zhc.dev.system.mapper.contest.ContestMapper">

    <select id="selectContestList" resultType="io.github.zhc.dev.system.model.vo.contest.ContestVO">
        SELECT
        tc.contest_id,
        tc.title,
        tc.start_time,
        tc.end_time,
        tc.create_time,
        ts.nick_name as create_name,
        tc.status
        FROM
        tb_contest tc
        left join
        tb_system_user ts
        on
        tc.create_by = ts.user_id
        <where>
            <if test="title !=null and title !='' ">
                AND tc.title LIKE CONCAT('%',#{title},'%')
            </if>
            <if test="startTime != null and startTime != '' ">
                AND tc.start_time >= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND tc.end_time &lt;= #{endTime}
            </if>
            AND tc.is_deleted = 0
        </where>
        ORDER BY
        tc.create_time DESC
    </select>
</mapper>